    <!-- header section strats -->
    <header class="header_section">
        <div class="header_top">
          <div class="container-fluid header_top_container">
  
            <div class="contact_nav">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  <%= pageData.location %>
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call : <%= pageData.phone %>
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  <%= pageData.email %>
                </span>
              </a>
            </div>
            <div class="social_box">
              <a href="<%= pageData.facebook %>">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="<%= pageData.twitter %>">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="<%= pageData.linkedin %>">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="<%= pageData.instagram %>">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="header_bottom">
          <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand " href="/"> <%= pageData.name %></a> </a>
  
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about"> About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/service">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/team"> Team </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                  </li>
                
                 
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <!-- end header section -->